h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
}

h1 {
	font-weight: 500;
	font-size: 2.5rem;
	line-height: 140%;
}

h2 {
	font-weight: 500;
	font-size: 2rem;
	line-height: 24px;
}

h3 {
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 140%;
}

h4 {
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 24px;

	cursor: pointer;
}

h5 {
	font-weight: 400;
	font-size: 1rem;
	line-height: 140%;
}